<form autocomplete="off">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <label for="ID">ID:</label><br />
      <!-- <label id="ID">{{id}}</label><br /> -->
      <input id="ID" [value]="id" disabled />
      <label for="ID_card">Id Card:</label><br />
      <input id="ID_Card" name="ID_Card" required />
      <label for="Name">Name:</label><br />
      <input
        type="text"
        id="Name"
        name="Name"
        required
      /><br />
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <label for="Comment">Comment:</label><br />
      <input type="text" id="Comment" name="Comment" /><br />
      <label class="switch">
        <input type="checkbox" checked id="Active" />
        <span class="slider round"></span>
      </label>
      <label for="Active">Active</label><br />
      <div class="col-12">
        <button
          type="button"
          class="btn btn-success ml-0"
          id="addButton"
          (click)="addSupplier()"
        >
          <fa-icon [icon]="faPlus"></fa-icon>Add
        </button>
        <button
          type="button"
          class="btn btn-warning"
          id="editButton"
          (click)="editSupplier()"
        >
          <fa-icon [icon]="faPentoSquare"></fa-icon>Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="deleteButton"
          (click)="deleteSupplier()"
        >
          <fa-icon [icon]="faTrash"></fa-icon>Delete
        </button>
        <button
        type="button"
        class="btn btn-secondary"
        (click)="clearInputsData()"
      >
        <fa-icon [icon]="faEraser"></fa-icon>Clear Form
      </button>
      </div>
    </div>
  </div>
</form>
<app-info-modal [isVisible]="showModal" [message]="message" (close)="closeModal()"></app-info-modal>