<form autocomplete="off">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <label for="supplier_id">ID:</label><br />
      <!-- <label id="ID">{{id}}</label><br /> -->
      <input id="supplier_id" [value]="id" disabled />
      <label for="supplier_id_card">Cédula (Id Card):</label><br />
      <input id="supplier_id_card" name="supplier_id_card" required />
      <label for="supplier_name">Nombre (Name):</label><br />
      <input
        type="text"
        id="supplier_name"
        name="supplier_name"
        required
      /><br />
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <label for="supplier_comment">Comentarios (Comment):</label><br />
      <input type="text" id="supplier_comment" name="supplier_comment" /><br />
      <label class="switch">
        <input type="checkbox" checked id="supplier_active" />
        <span class="slider round"></span>
      </label>
      <label for="supplier_active">Activo? (Active)</label><br />
      <div class="col-12">
        <button
          type="button"
          class="btn btn-success ml-0"
          id="addButton"
          (click)="addSupplier()"
        >
          <fa-icon [icon]="faPlus"></fa-icon>Agregar
        </button>
        <button
          type="button"
          class="btn btn-warning"
          id="editButton"
          (click)="editSupplier()"
        >
          <fa-icon [icon]="faPentoSquare"></fa-icon>Editar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="deleteButton"
          (click)="deleteSupplier()"
        >
          <fa-icon [icon]="faTrash"></fa-icon>Eliminar
        </button>
        <button
        type="button"
        class="btn btn-secondary"
        (click)="clearInputsData()"
      >
        <fa-icon [icon]="faEraser"></fa-icon>Borrar
      </button>
      </div>
    </div>
  </div>
</form>
