<div class="home-container">
    <h1>Somos Automatización SV</h1>
    <section class="content-section">
      <h2>Nuestra Historia</h2>
      <p>
        AUTOMATIZACION SV S.A es fundada en el mes de septiembre del 2019 a raíz de la necesidad en el mercado nacional de contar con una empresa confiable
        y segura para la ejecución de los distintos proyectos electromecánicos. Nuestra especialidad está centrada en la conducción de fluidos, para esto,
        durante los últimos años se han establecido excelentes vínculos comerciales con diversos fabricantes a nivel mundial, de la mano de más de 10 años de
        experiencia en el manejo de sistemas de bombeo y automatización de procesos, por parte de nuestro personal. AUTOMATIZACION SV S.A se encuentra ubicada
        en el cantón de Palmares de Alajuela.
      </p>
      <h2>Nuestra Misión</h2>
      <p>
        AUTOMATIZACION SV S.A es una empresa electromecánica costarricense que busca brindarle a sus clientes los mejores productos, combinados con un excelente
        servicio técnico, para cubrir sus proyectos electromecánicos de forma ágil, segura y con la confiabilidad que se merecen.
      </p>
      <h2>Nuestra Visión</h2>
      <p>
        Buscamos convertirnos en la empresa líder de servicios electromecánicos en distintos sectores de la industria nacional, ofreciendo las más innovadoras
        tecnologías especialmente en el manejo de fluidos, junto con alta calidad en sus productos.
      </p>
      <button class="login-button" (click)="navigateToLogin()">Iniciar Sesión</button>
    </section>
  </div>

