<form>
    <label for="product_name">Nombre del Producto:</label><br>
    <input type="text" id="product_name" name="product_name"><br>
    <label for="product_description">Descripcion del Producto:</label><br>
    <input type="text" id="product_description" name="product_description"><br>
    <label for="product_image">Imagen del Producto:</label><br>
    <input type="text" id="product_image" name="product_image"><br>
    <label for="product_spec_sheet">Hoja de Especificaciones:</label><br>
    <input  name="product_spec_sheet_name" id="product_spec_sheet" class="form-control" placeholder="Type to search" list="datalistOptions">
    <datalist id="datalistOptions">
        <option></option>
        <option>Select1</option>
        <option>Select2</option>
    </datalist>
    <button>Add new one</button>
</form>

