<div id="login">
  <form>
    <div class="mx-auto">
      <h2>Log In</h2>
      <!-- <label for="UsernameOrEmail">:</label><br /> -->
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
      /><br />

      <!-- <label for="Password">Password:</label><br /> -->
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
      />
    </div>
    <input type="button" (click)="login()" value="Iniciar Sesión">
  </form>

  <div>
    <a href="">Olvidó su contraseña?</a><br />
    No tiene un usuario? Regístrese <a href="/register">aquí</a>
  </div>
</div>
