<form autocomplete="off">
  <div class="specs">
    <label for="Name">Specs Sheet Name:</label><br />
    <input type="text" id="Name" name="Name" /><br />
    <label for="Dir">Specs Sheet URL:</label><br />
    <input type="text" id="Dir" name="Dir" /><br />
    <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="product_sheet_active"
          checked
        />
        <label class="form-check-label" for="product_sheet_active">Specs Sheet Active</label>
      </div>
  </div>
  <button type="button" class="btn btn-success">Add</button>
  <button type="button" class="btn btn-danger">Cancel</button>
</form>
